{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-3 text-center pads">
			<a target="_blank" href="https://github.com/baileywjohnson/twitterminer/"><img class="box" src="{{url_for('static', filename='twitterminer.svg')}}"></a>
		</div>
		<div class = "col-sm-3 text-left pads">
			<p>TwitterMiner is a Python tool written by <a target="_blank" href="https://github.com/BrainRift">Kevin DeLong</a> that scrapes Twitter data and stores it in a sqlite database. This fork adds an API for custom scraping queries and a React frontend.</p>
			<a href="https://baileyjohnson.io/twitterminer"><button class="btn btn-default" id="demo-button"> View Live </button></a>
		</div>
	</div>
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-6 text-center pads">
			<hr/>
		</div>
	</div>
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-3 text-center pads">
			<a target="_blank" href="https://github.com/baileywjohnson/mpi-matrix-mult"><img class="box" src="{{url_for('static', filename='mpi-matrix-mult.svg')}}"></a>
		</div>
		<div class = "col-sm-3 text-left pads">
			<p>This is an implementation of serial and parallel matrix multiplication in C using MPI. The executables and helper functions here are built on top of a matrix/vector input/output/redistribution function library written by <a target="_blank" href="https://www.michaeljquinn.net/">Michael J. Quinn</a>.</p>
		</div>
	</div>
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-6 text-center pads">
			<hr/>
		</div>
	</div>
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-3 text-center pads">
			<a target="_blank" href="https://github.com/baileywjohnson/webgl-ducks"><img class="box" src="{{url_for('static', filename='webgl-ducks.svg')}}"></a>
		</div>
		<div class = "col-sm-3 text-left pads">
			<p>This is a 3D interactive WebGL project built using <a>Edward Angel's framework</a>. The duck/human objects are rendered in through recursive functions- each traversing a list of nodes that make up the 3D models.</p>
		</div>
	</div>
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-6 text-center pads">
			<p id="projects-btext">To view additional projects (including this portfolio), please visit my <a target="_blank" href="https://github.com/baileywjohnson/">Github profile</a>.</p>
		</div>
	</div>

{% endblock %}
