{% extends "base.html" %}

{% block content %}
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-3 text-center pads">
			<a target="_blank" href="https://github.com/baileywjohnson/twitterminer/"><img class="box" src="{{url_for('static', filename='twitterminer.svg')}}"></a>
		</div>
		<div class = "col-sm-3 text-left pads">
			<p>TwitterMiner is a Python tool written by <a target="_blank" href="https://github.com/BrainRift">Kevin DeLong</a> that scrapes Twitter data and stores it in a sqlite database. This fork adds an API for custom scraping queries and a React frontend.</p>
			<a href="https://baileyjohnson.io/twitterminer"><button class="btn btn-default" id="demo-button"> View Live </button></a>
		</div>
	</div>
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-6 text-center pads">
			<hr/>
		</div>
	</div>
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-3 text-center pads">
			<a target="_blank" href="https://github.com/baileywjohnson/webgl-ducks"><img class="box" src="{{url_for('static', filename='webgl-ducks.svg')}}"></a>
		</div>
		<div class = "col-sm-3 text-left pads">
			<p>Some Information about WebGL Ducks</p>
		</div>
	</div>
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-6 text-center pads">
			<hr/>
		</div>
	</div>
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-3 text-center pads">
			<a target="_blank" href="https://github.com/baileywjohnson/ctci-v6-python"><img class="box" src="{{url_for('static', filename='ctci-v6-python.svg')}}"></a>
		</div>
		<div class = "col-sm-3 text-left pads">
			<p>I picked up a copy of Gayle McDowell's <i>Cracking the Coding Interview</i> and wanted to keep track of my solutions (so that I could compare them to the <a target="_blank" href="https://github.com/careercup/CtCI-6th-Edition-Python">official solutions</a>).</p>
		</div>
	</div>
	<div class="row">
		<div class = "col-sm-3 text-center pads"></div>
		<div class = "col-sm-6 text-center pads">
			<hr/>
		</div>
	</div>

{% endblock %}
